body{
    text-align:center;
}
#submit{
    display:block;
    text-align: center;
    margin:0 auto;
}
img {
    max-width: 22%;
    max-height: 100%;
}
#usernameShow{
    height:25px;
    width:100px;
    background-color: gainsboro;
    border-radius: 3px;
    color: maroon;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }